/* Main Contao Page */
#header .inner  {
	background: #51b964;
}
#header h1 a {
	background-image: url("../img/comolo-logo.svg");
	background-size: 117px;
	color: rgba(0,0,0,0);
	padding-left: 70px;
}

@media (max-width: 767px)
    #header h1 a {
        padding-left: 95px;
    }
}

@media (max-width: 595px)
    #header h1 a {
        background:none;
        display:none;
    }
}

#tl_navigation .tl_level_2 li.active {
    border-left-color: #51b964;
}

#tmenu a:hover, #tmenu li:hover h2, #tmenu .burger button:hover {
    background-color:#45a557;
}